
.titel_chemnitz{
    font-size: 1.8rem;
    line-height: 0.1;
}
.untertitel_h1{
    font-weight: 100;
    font-size: 0.8rem;
}
.anfang_text
.anfang_text_2{
    margin-top: 40px;
    font-size: 1.1rem;
    line-height: 1.6;
}
.chemnitz_grid{
   display: grid;
   grid-template-columns: 1fr;
   width: calc(100% - 20px);
    max-width: 100%;
    margin: auto;
}

.img_1{
    width: 150px;
    height: 180px;
       }
.img_2{
    width: 150px;
    height: 180px;
       }
.img_3{
    width: 100%;
    height: auto;
    max-width: 340px;
    margin-top: 20px;
       }
